{
  "plugins": [
    "cypress",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "plugin:cypress/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 0,
    "prettier/prettier": ["error"]
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  }
}
