{
  "plugins": [
    "cypress"
  ],
  "extends": [
    "airbnb",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "no-console": 0
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  }
}
