html {
  overflow-x: hidden;
  font-size: 13px;
}

body {
  overflow-x: hidden;
  color: #73879c;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #2a3f54;
}

a {
  color: #5a738e;

  &:hover {
    color: #23527c;
    text-decoration: none;
  }
}
