<nav class="c-sidebar">
  <div class="c-sidebar__profile container d-flex active align-items-center">
    <img class="c-sidebar__profile-photo rounded-circle img-fluid"
         src="https://avatars3.githubusercontent.com/u/1621344?s=460&v=4"/>

    <div class="c-sidebar__details">
      <span class="c-sidebar__profile-message">Welcome,</span>
      <span class="c-sidebar__profile-name">Christian Esperar</span>
    </div>
  </div>

  <div class="c-sidebar__menu">
    <span class="c-sidebar__menu-title">General</span>
    <ul class="c-sidebar__menu-list">
      <li class="c-sidebar__menu-item c-sidebar__menu-item--selected">
        <a class="c-sidebar__menu-link c-sidebar__menu-link">
          <i class="c-sidebar__menu-icon fas fa-file"></i>
          <span class="c-sidebar__menu-description">Pages</span>
          <i class="c-sidebar__menu-arrow c-sidebar__menu-arrow--up fas fa-chevron-down"></i>
        </a>
        <ul class="c-sidebar__menu-list">
          <li class="c-sidebar__menu-item">
            <a class="c-sidebar__menu-link" href="index.html">
              Blank
            </a>
          </li>
        </ul>
      </li>

      <li class="c-sidebar__menu-item">
        <a class="c-sidebar__menu-link">
          <i class="c-sidebar__menu-icon fas fa-sitemap"></i>
          <span class="c-sidebar__menu-description">Multilevel Menu</span>
          <i class="c-sidebar__menu-arrow fas fa-chevron-down"></i>
        </a>
      
        <!-- First Level Menu -->
        <ul class="c-sidebar__menu-list">
          <li class="c-sidebar__menu-item">
            <a class="c-sidebar__menu-link" href="javascript:void(0)">
              Level One
            </a>
          </li>
          <li class="c-sidebar__menu-item">
            <a class="c-sidebar__menu-link" href="javascript:void(0)">
              Level One
              <i class="c-sidebar__menu-arrow fas fa-chevron-down"></i>
            </a>
      
            <!-- Second Level Menu -->
            <ul class="c-sidebar__menu-list">
              <li class="c-sidebar__menu-item">
                <a class="c-sidebar__menu-link" href="javascript:void(0)">
                  Level Two
                </a>
              </li>
              <li class="c-sidebar__menu-item">
                <a class="c-sidebar__menu-link" href="javascript:void(0)">
                  Level Two
                </a>
              </li>
              <li class="c-sidebar__menu-item">
                <a class="c-sidebar__menu-link" href="javascript:void(0)">
                  Level Two
                </a>
              </li>
            </ul>
          </li>
          <li class="c-sidebar__menu-item">
            <a class="c-sidebar__menu-link" href="javascript:void(0)">
              Level One
            </a>
          </li>
        </ul>
      </li>                 
    </ul>
  </div>

  <ul class="c-sidebar__footer">
    <li class="c-sidebar__footer-list">
      <a class="c-sidebar__footer-link" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Settings">
        <i class="fas fa-cog"></i>
      </a>
    </li>
    <li class="c-sidebar__footer-list">
      <a class="c-sidebar__footer-link" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Fullscreen">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="c-sidebar__footer-list">
      <a class="c-sidebar__footer-link" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Lock">
        <i class="far fa-eye-slash"></i>
      </a>
    </li>
    <li class="c-sidebar__footer-list">
      <a class="c-sidebar__footer-link" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Logout">
        <i class="fas fa-power-off"></i>
      </a>
    </li>

  </ul>
</nav>
